name: DragonflyBSDTest

on: [push]

jobs:
  test:
    runs-on: macos-12
    name: A job to run test in DragonflyBSD
    steps:
      - uses: actions/checkout@v3
      - name: Test in DragonflyBSD
        id: test
        uses: vmactions/dragonflybsd-vm@v0
        with:
          usesh: true
          prepare: |
            pkg install -y go

          #  -race is not supported on dragonfly/amd64
          run: |
            go mod download
            go test -v ./...
