name: Vuluncheck

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  govulncheck_job:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
