name: NetBSDTest

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os.host }}
    strategy:
      matrix:
        os:
          - name: netbsd
            architecture: x86-64
            version: "9.3"
            host: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Test on ${{ matrix.os.name }}
        uses: cross-platform-actions/action@v0.19.0
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          shell: bash
          memory: 5G
          cpu_count: 4
          run: |
            sudo pkgin -y install go  mozilla-rootcerts
            sudo /usr/pkg/sbin/mozilla-rootcerts install
            /usr/pkg/go120/bin/go mod download
            /usr/pkg/go120/bin/go test -race -v ./...
